<template>
	<div class="app">
		<div class="loadingScreen" v-if="showLoading">
			<sync-loader class="loadingIndicator"></sync-loader>
		</div>
		<ListHeader :currentList="currentList"/>
		<VariantList id="variant-list" :currentList="currentList"/>
		<BottomMenu class="variant-list-menu" :currentList="currentList"/>

		<modal v-if="showAddListModal">
			<h3 slot="header">Add list</h3>
			<div slot="body">
				<input type="text" v-model="newListText" v-focus placeholder="enter list name..." autofocus @keyup.enter.prevent="addListOkHandler" @keyup.esc="addListCloseHandler"/>

				<input class="toggle" id="newListSendNotifier" type="checkbox" v-model="newListSendNotifier"/>
				<label for="newListSendNotifier" class="check-label"><span>Send slack notifier on choose variant</span></label>
				
				<input type="text" v-model="newListNotifierChannel" placeholder="enter slack channel name..." v-if="newListSendNotifier"/>
				<input type="text" v-model="newListNotifierTemplate" placeholder="enter slack message template..." v-if="newListSendNotifier"/>
			</div>
			<div slot="footer">
				<button class="modal-button button-dark" @click="addListCloseHandler">
					Close (ESC)
				</button>
				<button class="modal-default-button button-green" @click="addListOkHandler">
					Add (ENTER)
				</button>
			</div>
		</modal>

		<modal v-if="showEditListModal">
			<h3 slot="header">Edit list {{ currentListName }}</h3>
			<div slot="body">
				<input type="text" disabled="true" v-model="currentList.name" v-focus placeholder="enter list name..." autofocus @keyup.enter.prevent="addListOkHandler" @keyup.esc="addListCloseHandler"/>

				<input class="toggle" id="newListSendNotifier" type="checkbox" v-model="currentList.sendChosenChangeNotifier"/>
				<label for="newListSendNotifier" class="check-label"><span>Send slack notifier on choose variant</span></label>
				
				<input type="text" v-model="currentList.slackChannel" placeholder="enter slack channel name..." v-if="currentList.sendChosenChangeNotifier"/>
				<input type="text" v-model="currentList.sendChosenNotifierTemplate" placeholder="enter slack message template..." v-if="currentList.sendChosenChangeNotifier"/>
			</div>
			<div slot="footer">
				<button class="modal-button button-dark" @click="editListCloseHandler">
					Close (ESC)
				</button>
				<button class="modal-default-button button-green" @click="editListOkHandler">
					Add (ENTER)
				</button>
			</div>
		</modal>

		<modal v-if="showChooseListModal">
			<h3 slot="header">Choose current list</h3>
			<div slot="body">
				<v-select v-model="currentList" :options="lists" label="name"></v-select>
			</div>
			<div slot="footer">
				<button class="modal-button button-dark" @click="chooseListCancelHandler">
					Close (ESC)
				</button>
			</div>
		</modal>

		<modal v-if="showRemoveListModal">
			<h3 slot="header">Realy remove list '{{ currentList.name }}'?</h3>
			<div slot="body"></div>
			<div slot="footer" v-focus @keyup.delete.prevent="removeListYesHandler" @keyup.esc="removeListYesHandler">
				<button class="modal-button button-salmon" @click="removeListYesHandler">
					YES (DELETE)
				</button>
				<button class="modal-button button-green" @click="removeListNoHandler">
					NO (ESC)
				</button>
			</div>
		</modal>

		<modal v-if="showAlert">
			<h3 slot="header">{{ alertText }}</h3>
			<div slot="body">
			</div>
			<div slot="footer">
				<button class="modal-button button-dark" @keyup.esc="closeAlertHandler" v-focus @click="closeAlertHandler">
					Close (ESC)
				</button>
			</div>
		</modal>
	</div>
</template>

<script>
	import VariantList from './components/VariantList.vue'
	import ListHeader from './components/Header.vue'
	import BottomMenu from './components/Menu.vue'
	import Modal from './components/Modal.vue'
	import vSelect from "vue-select"
	import SyncLoader from 'vue-spinner/src/SyncLoader.vue'

	const EMPTY_ITEM = "";
	const EMPTY_TEXT = '';

	export default {
		components: {
			VariantList, ListHeader, BottomMenu, Modal, vSelect, SyncLoader
		},
		created () {
			this.$bus.$on('addList', this.showAddListModalHandler);
			this.$bus.$on('editList', this.showEditListModalHandler);
			this.$bus.$on('removeList', this.showRemoveListModalHandler);
			this.$bus.$on('listRemoved', this.listRemovedHandler);
			this.$bus.$on('chooseList', this.showChooseListModalHandler);
			this.$bus.$on('loadingStart', this.showLoadingHandler);
			this.$bus.$on('loadingEnd', this.hideLoadingHandler);
			this.$bus.$on('showAlert', this.showAlertHandler);

			if (this.$isEmpty(localStorage.getItem('currentListName'))) {
				this.loadListsFromServer();
			} else {
				this.currentListName = localStorage.getItem('currentListName');
			}
		},
		props: ['pCurrentListName'],
		data () {
			return {
				currentList: EMPTY_ITEM,
				currentListName: EMPTY_TEXT,
				showAddListModal: false,
				showEditListModal: false,
				showRemoveListModal: false,
				showChooseListModal: false,
				showLoading: false,
				showAlert: false,
				alertText: EMPTY_TEXT,
				newListText: EMPTY_TEXT,
				newListSendNotifier: false,
				newListNotifierChannel: EMPTY_TEXT,
				newListNotifierTemplate: EMPTY_TEXT,
				lists: []
			}
		},
		watch: {
			currentList () {
				if (this.$isEmpty(this.currentList)) {
					localStorage.removeItem('currentListName');
					this.currentListName = EMPTY_TEXT;
				} else {
					localStorage.setItem('currentListName', this.currentList.name);
					this.currentListName = this.currentList.name;
				}
			},
			pCurrentListName () {
				if (!this.$isEmpty(this.pCurrentListName)) {
					this.currentListName = this.pCurrentListName;
				}
			},
			'$route' (to, from) {
				const toCurrentListName = to.params.currentListName;
				if (!this.$isEmpty(toCurrentListName)) {
					this.currentListName = toCurrentListName;
				}
			},
			currentListName () {
				this.loadListsFromServer();
			}
		},
		methods: {
			saveListAtServer() {
				this.$loadingStart();

				const webMethod = __API__+'variantList';
				const requestBody = {
					name: this.newListText,
					sendChosenChangeNotifier: this.newListSendNotifier,
					slackChannel: this.newListNotifierChannel,
					sendChosenNotifierTemplate: this.newListNotifierTemplate
				};
				return this.$http.post(webMethod, requestBody)
				.then(
					response => {
						this.currentListName = this.newListText;
					},
					error => {
						this.$handleError(error);
					})
				.then(this.$loadingEnd);
			},
			loadListsFromServer() {
				this.$loadingStart();

				const webMethod = __API__+'variantList';
				return this.$http.get(webMethod)
				.then(
					response => {
						this.lists = response.data;
						if (!this.$isEmpty(this.currentListName)) {
							this.setCurrentListByName(this.currentListName);
						}
					})
				.catch(error => this.$handleError(error))
				.then(this.$loadingEnd);
			},
			setCurrentListByName(name) {
				const foundItemsList = this.lists.filter(list => {
					if (list.name === name) {
						return true;
					}
				});
				if (foundItemsList.length === 0) {
					throw "List not found";
				} else {
					this.currentList = foundItemsList[0];
				}
			},
			showAddListModalHandler() {
				this.showAddListModal = true;
				this.newListNotifierTemplate = "Choosen variant: "
			},
			addListOkHandler() {
				this.saveListAtServer()
				.then(() => this.addListCloseHandler());
			},
			addListCloseHandler() {
				this.showAddListModal = false;
				this.newListText = EMPTY_ITEM;
				this.newListSendNotifier = false;
				this.newListNotifierChannel = EMPTY_TEXT;
				this.newListNotifierTemplate = EMPTY_TEXT;
			},
			showChooseListModalHandler() {
				this.showChooseListModal = true;
			},
			chooseListCancelHandler() {
				this.showChooseListModal = false;
			},
			showLoadingHandler() {
				this.showLoading = true;
			},
			hideLoadingHandler() {
				this.showLoading = false;
			},
			showAlertHandler: function(text) {
				this.alertText = text;
				this.showAlert = true;
			},
			closeAlertHandler: function() {
				this.showAlert = false;
			},
			showRemoveListModalHandler: function() {
				this.showRemoveListModal = true;
			},
			listRemovedHandler () {
				this.currentList = EMPTY_ITEM;
			},
			removeListYesHandler: function() {
				this.$loadingStart();
				this.showRemoveListModal = false;

				const webMethod = __API__+'variantList/'+this.currentList.name;
				return this.$http.delete(webMethod)
				.then(response => {
					this.listRemovedHandler();
				})
				.catch(error => this.$handleError(error))
				.then(() => this.loadListsFromServer());
			},
			removeListNoHandler: function() {
				this.showRemoveListModal = false;
			},
			showEditListModalHandler () {
				this.showEditListModal = true;
			},
			editListCloseHandler () {
				this.showEditListModal = false;
			},
			editListOkHandler () {
				this.editListCloseHandler();
				this.$loadingStart();

				const webMethod = __API__+'variantList';
				const requestBody = this.currentList;
				return this.$http.post(webMethod, requestBody)
				.then(
					response => {
						this.currentListName = this.currentList.name;
					},
					error => {
						this.$handleError(error);
					})
				.then(this.$loadingEnd);
			}
		}
	}
</script>

<style lang="scss">
	@import './main.css';
</style>