body {
	font-family: Helvetica, Arial, sans-serif;
	background: whitesmoke;
}

h1, h2, h3 {
	color: #42b983;
}

:focus {
	outline: 2px dotted #353866;
	outline-offset: 2px;
}

.app {
	background: #fff;
	margin: 15px 7px;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	0 25px 50px 0 rgba(0, 0, 0, 0.1);

	border-radius: 5px;

	overflow: hidden;
}

.app input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #42b983;
}

.app input::-moz-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #42b983;
}

.app input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

#header h1 {
	padding: 7px 7px 7px 7px;
	margin: 0;
	background: AliceBlue;
}

#variant-list ul {
	margin: 0;
	padding: 5px;
	list-style: none;
}

#variant-list li {
	position: relative;
	font-size: 18px;
	border-bottom: 1px solid #ededed;
}

#variant-list li:last-child {
	border-bottom: none;
}

.variant-list-menu {
	padding: 7px;
	margin-top: 0;
	background: Gainsboro       ;
}

.variant-result {
	color: #42b983;
	margin: 5px;
	padding: 7px 7px;

	font-size: 18px;
	font-weight: 500;
	line-height: 1.3;
}

.menu {
	float:left;
}


/* button styles */
button {
	display: inline-block;
	overflow: hidden;

	margin: 5px;
	padding: 7px 7px;

	cursor: pointer;
	user-select: none;
	transition: all 60ms ease-in-out;
	text-align: center;
	white-space: nowrap;
	text-decoration: none !important;
	text-transform: none;
	text-transform: capitalize;

	color: #fff;
	border: 0 none;
	border-radius: 4px;

	font-size: 18px;
	font-weight: 500;
	line-height: 1.3;

	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;

	justify-content: center;
	align-items: center;
	flex: 0 0 160px;

	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08),
	0 10px 20px 0 rgba(0, 0, 0, 0.04);
}
button:hover {
	transition: all 60ms ease;
	opacity: .85;
}
button:active {
	transition: all 60ms ease;
	opacity: .75;
}

.button-regular {
	color: #202129;
	background-color: #f2f2f2;
}
.button-regular:hover {
	color: #202129;
	background-color: #e1e2e2;
	opacity: 1;
}
.button-regular:active {
	background-color: #d5d6d6;
	opacity: 1;
}

.button-dark {
	color: #FFFFFF;
	background: #161616;
}
.button-dark:focus {
	outline: 1px dotted white;
	outline-offset: -4px;
}

.button-green {
	color: #FFFFFF;
	background: #3dd28d;
}

.button-blue {
	color: #FFFFFF;
	background: #416dea;
}

.button-salmon {
	color: #FFFFFF;
	background: #F32C52;
}

.button-sun {
	color: #f15c5c;
	background: #feee7d;
}

.button-alge {
	color: #e7ff20;
	background: #7999a9;
}

.button-flower {
	color: #FE8CDF;
	background: #353866;
}

input[type="checkbox"]{
	position: absolute;
	opacity: 0;
	z-index: -1;
}
.check-label {
	position: relative;
	display: inline-block;
	margin: 5px;
	padding: 7px 7px 7px 30px;
	cursor: pointer;

	font-weight: 500;
	line-height: 1.3;

	justify-content: center;
	align-items: center;
}
.check-label::before {
	content: "";
	display: inline-block;
	position: absolute;
	background: #fff;
	left: 3px;
	top: calc(50% - 7px);
	width: 14px;
	height: 14px;
	border: 0 none;
	border-radius: 4px;

	line-height: 1.3;

	justify-content: center;
	align-items: center;

	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3),
	0 1px 5px 0 rgba(0, 0, 0, 0.08);
}
input[type="checkbox"]:checked + .check-label {
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
}
input[type="checkbox"]:checked + .check-label::before {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;

	/*padding: 5px 5px;*/

	background: #42b983;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08),
	0 10px 20px 0 rgba(0, 0, 0, 0.04);
}
/* Transition */
.check-label,
.check-label::before {
	-webkit-transition: .25s all ease;
	-o-transition: .25s all ease;
	transition: .25s all ease;
}
.check-label span {
	position: relative;
}

input[type="text"] {
	width: 100%;
	margin: 5px 0 5px 0;
	padding: 7px 7px;
	border: 2px solid #42b983;
	border-radius: 4px;
	box-sizing: border-box;

	position: relative;
	display: block;

	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08),
	0 10px 20px 0 rgba(0, 0, 0, 0.04);
}

section {
	position: relative;
}

/* Zig Zag (3d up and simple down) */

.ss-style-zigzag::before,
.ss-style-zigzag::after {
	right: 0;
	left: 0;
	z-index: 10;
	display: block;
	height: 7px;
	background-size: 7px 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	content: '';
	pointer-events: none;
}

.ss-style-zigzag::before {
	top: -7px;
	background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, transparent), color-stop(0.25, #fff));
	background-image: linear-gradient(315deg, #fff 25%, transparent 25%), linear-gradient( 45deg, #fff 25%, transparent 25%);
	background-position: 50%;
}

.ss-style-zigzag::after {
	top: 100%;
	background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, transparent), color-stop(0.25, #fff));
	background-image: linear-gradient(135deg, #fff 25%, transparent 25%), linear-gradient( 225deg, #fff 25%, transparent 25%);
	background-position: 50%;
}

.loadingScreen {
	width: 100%;
	height: 100%;

	background: snow;
	opacity: .75;

	position: absolute;
  	z-index: 9997;

  	-webkit-transition: .25s all ease;
	-o-transition: .25s all ease;
	transition: .25s all ease;

	justify-content: center;
	align-items: center;
}

.loadingIndicator {
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	position: absolute;

	-webkit-transition: .25s all ease;
	-o-transition: .25s all ease;
	transition: .25s all ease;

	color: #42b983;
}