<template>
	<section id="header">
		<h1 v-if="!currentList">{{ header }}</h1>
		<h1 v-if="currentList">Hello, @username! Choose something from: '{{ currentList.name }}'"</h1>
	</section>
</template>

<script>
	export default {
		props: ['currentList'],
		data: function () {
			return {
				header: 'Hello, @username! Can`t choose something? Can help...'
			};
		}
	}
</script>