<template>
	<div class="view">
		<input :id="variant.id" @click="$emit('toggle')" class="toggle" type="checkbox" v-bind:checked="variant.isChosen"/>
		<label class="check-label" :for="variant.id"><span>{{ variant.name }}</span></label>
		<button class="button-sun" @click="$emit('edit')">edit</button>
		<button class="button-salmon" @click="$emit('remove', variant)">remove</button>
	</div>
</template>

<script>
	export default {
		props: ['variant']
	}
</script>