<template>
	<section id="menu">
		<div>
			<button v-if="currentList" class="button-regular" @click="$bus.$emit('addVariant')">Add variant</button>
			<button v-if="currentList" class="button-regular" @click="$bus.$emit('clearVariants')">Clear variants</button>
		</div>
		<div>
			<button class="button-regular" @click="$bus.$emit('addList')">Add list</button>
			<button class="button-regular" v-if="currentList" @click="$bus.$emit('removeList')">Remove list</button>
			<button class="button-regular" v-if="currentList" @click="$bus.$emit('editList')">Edit list</button>
			<button class="button-regular" @click="$bus.$emit('chooseList')">Choose list</button>
			<label class="variant-result" v-if="currentList">... Current is: {{ currentList.name }}</label>
		</div>
		<div>
			<button class="button-regular" @click="$bus.$emit('clearResults')">Clear results</button>
			<button class="button-regular" @click="$bus.$emit('chooseNextVariant')">Choose next!</button>
			<button class="button-regular" @click="$bus.$emit('chooseRandomVariant')">Choose random!</button>
		</div>
	</section>
</template>

<script>
	import ListItem from './ListItem.vue'
	import Modal from './Modal.vue'

	const EMPTY_INDEX = (-1);
	const EMPTY_TEXT = '';

	export default {
		components: {
			ListItem, Modal
		},
		props: ['currentList']
	}
</script>