<template>
	<section class="ss-style-zigzag">
		<ul>
			<ListItem
			v-for="variant in variants"
			:key="variant.id"
			v-bind:variant="variant"
			v-on:edit="editVariantHandler(variant)"
			v-on:remove="removeVariantHandler(variant)"
			v-on:toggle="toggleVariantHandler(variant)"></ListItem>
		</ul>

		<modal v-if="showAddModal">
			<h3 slot="header">Add variant</h3>
			<div slot="body">
				<input type="text" ref="enterVariant" v-model="newVariantText" v-focus placeholder="enter variant text..." autofocus @keyup.enter.prevent="modalAddHandler" @keyup.esc="modalCancelHandler"/>
			</div>
			<div slot="footer">
				<button class="modal-button button-dark" @click="modalCancelHandler">
					Close (ESC)
				</button>
				<button class="modal-default-button button-green" @click="modalAddHandler">
					Add (ENTER)
				</button>
			</div>
		</modal>

		<modal v-if="showEditModal">
			<h3 slot="header">Edit variant</h3>
			<div slot="body">
				<input type="text" ref="enterVariant" v-model="editVariant.name" v-focus placeholder="enter variant text..." autofocus @keyup.enter.prevent="modalAddHandler" @keyup.esc="modalCancelHandler"/>
			</div>
			<div slot="footer">
				<button class="modal-button button-dark" @click="modalCancelHandler">
					Close (ESC)
				</button>
				<button class="modal-default-button button-green" @click="modalEditHandler">
					Save (ENTER)
				</button>
			</div>
		</modal>
	</section>
</template>

<script>
	import ListItem from './ListItem.vue'
	import Modal from './Modal.vue'

	const EMPTY_INDEX = (-1);
	const EMPTY_TEXT = '';

	var eventSource;

	export default {
		components: {
			ListItem, Modal
		},
		props: ['currentList'],
		data: function() {
			return {
				variants: [],
				showAddModal: false,
				showEditModal: false,
				newVariantText: EMPTY_TEXT,
				editVariant: {},
				isAlertVisible: false
			};
		},
		created: function() {
			this.$bus.$on('addVariant', this.addVariantHandler);
			this.$bus.$on('editVariant', this.addVariantHandler);
			this.$bus.$on('clearVariants', this.clearVariantsHandler);
			this.$bus.$on('clearResults', this.clearResultsHandler);
			this.$bus.$on('chooseNextVariant', this.chooseNextVariantHandler);
			this.$bus.$on('chooseRandomVariant', this.chooseRandomVariantHandler);
		},
		watch: {
			currentList () {
				if (!this.$isEmpty(this.currentList)) {
					this.addSSEListener();
				}
			}
		},
		methods: {
			addSSEListener() {
				if (eventSource !== undefined) {
					eventSource.close();
				}
				const listName = this.currentList.name;
				const webMethod = __API__+'events/'+listName+'/'+this.$sessionGuid;
				eventSource = new EventSource(webMethod, {withCredentials: true});
				eventSource.onerror = this.sseEventErrorHandler;
				eventSource.onmessage = this.sseEventHandler;
			},
			sseEventHandler(event) {
				const message = JSON.parse(event.data);
				if (message.type == "CONNECTED") {
					this.$showSuccessToast("Success connected.");
				} else if (message.type == "VARIANT_LIST_REMOVE") {
					this.$showSuccessToast(`Variant list '${message.listName}' removed.`);
					this.$bus.$emit('listRemoved')
					eventSource.close();
				} else {
					this.$showInfoToast(`Got message from list '${message.listName}':\n'${message.text}`);
				}

				this.loadVariantsFromServer();
			},
			sseEventErrorHandler(event) {
				if (eventSource.readyState === 2) {
					this.$showErrorToast("SSE listener fault. Try reconnect after 5 seconds");
					setTimeout(this.addSSEListener, 5000);
				}
			},
			saveVariantAtServer(variant) {
				this.$loadingStart();

				const webMethod = __API__+'variant';
				const requestBody = {
					variantListName: this.currentList.name,
					id: variant.id,
					name: variant.name,
					isChosen: variant.isChosen
				};
				return this.$http.post(webMethod, requestBody)
				.catch(error => {
					this.$handleError(error);
				});
			},
			removeVariantHandler: function(variant) {
				this.$loadingStart();

				const webMethod = __API__+'variant/'+variant.id;
				return this.$http.delete(webMethod)
				.catch(error => {
					this.$handleError(error);
				});
			},
			toggleVariantHandler: function(variant) {
				this.$loadingStart();

				const webMethod = __API__+'variant/toggle/'+variant.id;
				return this.$http.post(webMethod)
				.catch(error => {
					this.$handleError(error);
				});
			},
			chooseRandomVariantHandler: function() {
				this.$loadingStart();

				const webMethod = __API__+'variantList/randomNext/'+this.currentList.name;
				return this.$http.post(webMethod)
				.catch(error => {
					this.$handleError(error);
				});
			},
			chooseNextVariantHandler: function() {
				this.$loadingStart();

				const webMethod = __API__+'variantList/next/' + this.currentList.name;
				this.$http.post(webMethod)
				.catch(error => {
					this.$handleError(error);
				});
			},
			clearResultsHandler: function() {
				this.$loadingStart();

				const webMethod = __API__+'variantList/clearResults/' + this.currentList.name;
				return this.$http.post(webMethod)
				.catch(error => {
					this.$handleError(error);
				});
			},
			clearVariantsHandler: function() {
				this.$loadingStart();

				const webMethod = __API__+'variantList/clearVariants/' + this.currentList.name;
				return this.$http.post(webMethod)
				.catch(error => {
					this.$handleError(error);
				});
			},
			loadVariantsFromServer() {
				if (this.$isEmpty(this.currentList)) {
					return new Promise((resolve, reject) => {
						resolve(this.variants = [])
					});
				}

				const webMethod = __API__+'variant/variantList/' + this.currentList.name;
				return this.$http.get(webMethod)
				.then(response => {
					this.variants = response.data;
					this.variants.forEach(variant => {
						if (variant.isCurrent) {
							this.chosenVariantIndex = this.variants.indexOf(variant);
							this.chosenVariantText = variant.name;
							this.hasChosenVariant = true;
						}
					});
				})
				.catch(error => {
					this.$handleError(error);
				})
				// if anythere was started loader,
				// then we should stop it right now
				.then(this.$loadingEnd)
			},
			clearnewVariantText: function() {
				this.newVariantText = EMPTY_TEXT;
			},
			addVariantHandler: function() {
				this.showAddModal = true;
			},
			editVariantHandler: function(variant) {
				this.editVariant = variant;
				this.showEditModal = true;
			},
			modalAddHandler: function() {
				if (this.newVariantText != EMPTY_TEXT) {
					const variant = {
						name: this.newVariantText,
						isChosen: false,
						isCurrent: false
					};
					this.saveVariantAtServer(variant);
				}
				this.clearnewVariantText();
				this.$refs.enterVariant.focus();
			},
			modalEditHandler: function() {
				if (this.$isEmpty(this.editVariant.name)) {
					throw "Empty name!";
				}
				const variant = {
					id: this.editVariant.id,
					name: this.editVariant.name,
					isChosen: this.editVariant.isChosen,
					isCurrent: this.editVariant.isCurrent
				};
				this.saveVariantAtServer(variant);
				this.clearnewVariantText();
				this.closeModal();
			},
			modalCancelHandler: function() {
				this.closeModal();
				this.clearnewVariantText();
			},
			closeModal: function() {
				this.showAddModal = false;
				this.showEditModal = false;
			}
		}
	}
</script>